<div class="container" xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
    <div class="row" id="row1">
      <div *ngFor="let poke of pokemonlist" >
        <div class="thumbnail cursor"  data-toggle="modal" data-target="#myModal" id="thumbnail"  >
          <h3>#{{poke.id}}</h3>
          <img (click)="selectPokemon(poke?.id); getDescription(poke?.id)" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{poke?.id}}.png" alt="No Picture for this fucker">
          <div class="caption">
            <h4> {{poke?.name | capitalize}}</h4>
          </div>
        </div>
      </div>
    </div>
  <div class="search-results"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="500"
       (scrolled)="loadMore()"
       [scrollWindow]="true">
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"  style="background-color: #E83729" >
        <div class="row">
        <h4 class="modal-title">#{{selectedPokemon?.id}} {{selectedPokemon?.name | capitalize }}</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="center" id="modalPics">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{this.selectedPokemon?.id}}.png" alt="...">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{this.selectedPokemon?.id}}.png" alt="No picture available">
        </div>
        </div>
          <table id="tabledance">
        <tr>Height: {{selectedPokemon?.height}} ft</tr>
        <tr>Weight: {{selectedPokemon?.weight}} kg</tr>
        <tr>Typ1: {{selectedPokemon?.types[0].type.name}}</tr>
        <div *ngIf="selectedPokemon?.types[1]">
        <tr>Typ2: {{selectedPokemon?.types[1]?.type.name}}</tr>
        </div>
          </table>
        <p id="description">{{pokemon?.flavor_text_entries[1].flavor_text}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--SAVE
<div class="container">
  <div class="row" style="text-align: center">
    <div *ngFor="let poke of pokemonlist" >
      <div class="thumbnail" style="border: solid;  margin-left: 50px;  border-color: black; margin-top: 10px; margin-right: -30px; background: lightgrey; width: 150px" >
        <h3>#{{poke.id}}</h3>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{poke.id}}.png" alt="...">
        <div class="caption">
          <h4> {{poke.name.charAt(0).toUpperCase()+poke.name.substr(1)}}</h4>
        </div>
      </div>
    </div>

  </div>
  <button  style="margin-left: 35px; margin-top: 10px" type="button" class="btn btn-success" (click)="loadMore()">weitere..</button>
</div>
-->
