.cursor {
cursor: pointer;
}
#row1 {
  text-align: center;
}
#thumbnail {
  border: solid;
  margin-left: 55px;
  border-color: black;
  margin-right: -30px;
  background: lightgrey;
  width: 150px;
}
#loadMoreButton {
  margin-left: 35px;
  margin-top: 10px;
}
#modalPics {
  padding-left: 150px;
}
#tabledance {
  text-align: left;
  margin-left: 190px;
}

#description {
  margin-top: 10px;
  text-align: center;
}
.type {
  display: inline-block;
  color: black;
  border: solid;
  border-width: thin;
  padding: 2px;
}
.fire {
  background-color: #F45545;
}

.water {
  background-color: #558BCF;
}

.grass {
  background-color: #589F43;
}

.poison {
  background-color: #7848a6;
}

.flying {
  background-color: #E3C066;
}

.normal {
  background-color: #bd8d41;
}

.bug {
  background-color: #acbe16;
}

.electric {
  background-color: #F3BE1F;
}

.ground {
  background-color: #8d7654;
}

.dragon {
  background-color: #A485C2;
}

.psychic {
  background-color: #EE86A5;
}

.fairy {
  background-color: #BF6481;
}

.ice {
  background-color: #64AFF5;
}

.rock {
  background-color: #5e5744;
}

.fighting {
  background-color: #915656;
}

.steel {
  background-color: #949494;
}

.ghost {
  background-color: #75577D;
}
