<div class="container" xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
    <div class="row" id="row1">
      <div *ngFor="let poke of pokemonlist" >
        <div class="thumbnail cursor"  data-toggle="modal" data-target="#myModal" id="thumbnail">
          <h3>#{{poke.id}}</h3>
          <img (click)="selectPokemon(poke?.id); getDescription(poke?.id)" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{poke?.id}}.png" alt="No Picture available">
          <div class="caption">
            <h4> {{poke?.name | capitalize}}</h4>
          </div>
        </div>
      </div>
    </div>
  <div class="search-results"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="500"
       (scrolled)="loadMore()"
       [scrollWindow]="true">
  </div>

<!-- Modal -->
<div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"  [ngClass]="selectedPokemon?.types[0].type.name">
        <div class="row">
        <h4 class="modal-title">#{{selectedPokemon?.id}} {{selectedPokemon?.name | capitalize }}</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="center" id="modalPics">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{this.selectedPokemon?.id}}.png" alt="...">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{this.selectedPokemon?.id}}.png" alt="No picture available">
        </div>
        </div>
          <table class="tabledance">
            <tr>
        <td class="type" [ngClass]="selectedPokemon?.types[0].type.name">{{selectedPokemon?.types[0].type.name | capitalize}}</td>
        <td *ngIf="selectedPokemon?.types[1]" class="type" [ngClass]="selectedPokemon?.types[1].type.name">{{selectedPokemon?.types[1]?.type.name | capitalize}}</td>
            </tr>
          </table>
        <p id="description">{{pokemon?.flavor_text_entries[1].flavor_text}}</p>
        <div [ngClass]="selectedPokemon?.types[0].type.name" class="facts">
          <h4 class="factsInADiv">Facts</h4>
          <table class="tabledance">
            <tr>Height: {{selectedPokemon?.height / 10}}m</tr>
            <tr>Weight: {{selectedPokemon?.weight / 10}}kg</tr>
          </table>
          <div class="facts" id="stats" [ngClass]="selectedPokemon?.types[0].type.name">
            <h4 class="factsInADiv">Stats</h4>
            <div id="progressBlock" *ngFor="let a of countArray; let index = index">
              <div class="progressEntries">
            <p class="progress-label">{{selectedPokemon?.stats[index].stat.name | capitalize}}</p>
              <div class="progress">
              <div class="progress-bar" id="color{{index}}" role="progressbar" [style.width.%]="(selectedPokemon.stats[index].base_stat/200)*100"  attr.aria-valuenow="{{selectedPokemon?.stats[index].base_stat}}" aria-valuemin="0" aria-valuemax="200">
                {{selectedPokemon?.stats[index].base_stat}}
              </div>
              </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

