<div class="font">
<div id="nav" class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/poke" routerLinkActive="active">Pokedex</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pokefan" routerLinkActive="active" >PokeSongs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://pokeapi.co/" target="_blank">PokeApi</a>
    </li>
  </ul>
</div>
  <div class="container">
  <div class="jumbotron" id="jumbotron"   >
      <div class="bildwechsel"></div>
      <h2 id="headlineMain" >
        Pokedex powered by Prof. Oak
      </h2>

      <div id="myCarousel" class="carousel slide center" data-ride="carousel" data-interval="500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Los Angeles">
          </div>
          <div class="item" *ngFor="let a of fakeArray; let index = index">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ index + 2 }}.png" alt="Chicago">
          </div>
        </div>
      </div>
  </div>
  </div>
<router-outlet></router-outlet>

  <!-- Activate for autoplay! -->
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/JuYeHPFR3f0?autoplay=1" frameborder="0" ></iframe> -->

  <footer class="footer">
  <span class="text-muted">All rights reserved by Prof. Oak</span>
</footer>
</div>
